.cards {
  margin-top: 24rem;
  @include respond (tablet){
      margin-top: 17rem;
  }
}

.shop-cards {
  &__inner {
    display: flex;
    justify-content: space-between;

    @media only screen and(max-width: 750px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.shop-card {
  width: 35rem;
  border-radius: 8px;
  background-color: $color-light-grey;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2.2rem;

  @media only screen and(max-width: 1100px) {
    width: 28rem;
  }

  @include respond(tablet) {
    width: 22.3rem;
  }

  @media only screen and(max-width:750px) {
    width: 100%;

    &:not(:first-child) {
      margin-top: 9rem;
    }
  }


  &__img {
    margin: 0 auto;
    margin-top: -6rem;

    @include respond (phone) {
      margin-top: -5rem;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 1.5rem;
  }
}